<div class="container">
  <h1>{{title}}</h1>

  <div id="showCase" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li *ngFor="let d of allPages; let i = index" data-target="#showCase" attr.data-slide-to="{{i}}" class="{{(i==0)?'active':''}}"></li>
    </ol>
      
    <div class="carousel-inner">
      <app-page *ngFor="let d of allPages; let i = index" [pageData]="d" class="carousel-item {{(i==0)?'active':''}}"></app-page>
    </div>
    <a class="carousel-control-prev" href="#showCase" role="button" data-slide="prev">
     <span class="fa fa-arrow-left" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#showCase" role="button" data-slide="next">
     <span class="fa fa-arrow-right" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
    </a>
  </div>
  <footer class="footer">
    <span class="text-muted float-right">
      <i class="fa fa-copyright" aria-hidden="true" style="color: red;"></i>&nbsp;<a href="http://www.ege.com" target="_blank">2022 Ege Consulting Inc.</a>️ 
    </span>
  </footer>
</div>